
*{
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(230, 226, 211);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.about
{
    width: 100%;
    padding: 50px 0px;
    margin-top: 20px;
    justify-content: center;
}

.container{
    max-width: 90%;
    width: 1140px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.about img{
    width: 420px;
    height: 460px;
}

.text{
width: 550px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text h1{
    
    font-size: 60px;
    color: darkslategray;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.text p{
    font-size: 17px;
    color:rgb(77, 71, 71);
    line-height: 28px;
margin-bottom: 45px;   
}

.text p span{
    color:rgb(49, 45, 45);
font-weight: bold;
font-size: 18px ;
}

button{
    margin-top: 20px;
    background: #f9004d;
color: white;
font-size: 17px;
padding: 12px 30px;
font-weight: bold;
border-radius: 20px;
border: 2px solid transparent;
text-decoration: none;
transition: .4s;
}
 
button a{
color: white;
}

button:hover
{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    color: black;
}

button a:hover{
    color: black;

}

.text .contacts{
 font-weight: bold;
    color:darkslateblue;
 
}
.text .contacts a{
    color:darkslateblue ;
    text-decoration: none;
}

.text .contacts a:hover{
color: red;
}